<a href="https://colab.research.google.com/github/Aban6/MIS515Class/blob/main/Class1_4_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part One
**Class 1**

**Let's get started!**

*insert a link*

[link text](https://colab.research.google.com/)

*insert an image*

![python-programming-language.png]()

# Part Two

**Class 2**

In [1]:
%autosave 60

Autosaving every 60 seconds

**Python fundamentals**

**Numbers**


Clearly sometimes you will want to manipuate your data. You can do simple things like add, subtract, multipy, divide, or even find the remainder.

In [ ]:
2+2

4

In [ ]:
3*2

6

In [ ]:
10/5

2.0

In [ ]:
11%2

1

**integers vs. float numbers**

In [ ]:
int = 1
float = 3.145678952222

float

3.145678952222

In [ ]:
round(float,3)

3.146

**Strings**

**Hello World!**

Strings
Strings are used ALL THE TIME in Python. Strings are enclosed in quotes. Python treats single quotes the same as double quotes (but be consistent).

Double quotes allow you to enclose single quotes.

There are also triple double quotes """...""" They allow you to write strings that span multiple lines.

There are many, many built-in functionalities that you will eventually learn. It is impossible to cover (and remember) them all in one sitting.

In [ ]:
print ("Hello World!")

Hello World!

In [ ]:
my_txt = "classroom"
my_txt

'classroom'

**Accessing parts of a String**

You can access an entire string variable, or just parts of it. Square brackets are used to specify the index of the data you want. (Indices always start at 0.)

In [ ]:
#accessing each character by index
my_txt[0]

'c'

In [ ]:
my_txt[5:9]

'room'

In [ ]:
my_txt[5:]

'room'

In [ ]:
my_txt[:5]

'class'

In [ ]:
address = '''San Diego
CA
USA'''
print(address)

San Diego
CA
USA

**String Operators**

String operators are special bits of code that ONLY WORK ON STRINGS. So while a "+" will add two numbers, it will concatenate Strings instead of adding them.

In [ ]:
b = "Fall"+"2023"

In [ ]:
b

'Fall2023'

**Variables**

In order to save data for later use you create a variable. Luckily in Python "creating" a variables is as simple as coming up with a name and assigning a value.

In [ ]:
a = 3**2

In [ ]:
a

9

*practice*

In [ ]:
housing = 1500
groceries = 250
restaurants = 300
coffee = 45
print (housing)

1500

In [ ]:
monthly_expenses = housing+groceries+restaurants+coffee
print(monthly_expenses)

2095

In [ ]:
item1 = "housing"
item2 = "groceries"
item3 = "restaurants"
item4 = "coffee"
print("Monthly expense items include:",item1,item2,item3,item4)

Monthly expense items include: housing groceries restaurants coffee

**Lists**

In [ ]:
monthly_expenses = ["housing","groceries","restaurants","coffee"]
monthly_expenses

['housing', 'groceries', 'restaurants', 'coffee']

In [ ]:
monthly_expenses[0]

'housing'

In [ ]:
monthly_expenses[0:2]

['housing', 'groceries']

In [ ]:
monthly_expenses[0] = "rent"

In [ ]:
monthly_expenses

['rent', 'groceries', 'restaurants', 'coffee']

In [ ]:
monthly_expenses[-1]

'coffee'

In [ ]:
school = ["Book", "laptop",9,'pens']
school

['Book', 'laptop', 9, 'coffee']

In [ ]:
school.append("shoes")
school

['Book', 'laptop', 9, 'coffee', 'shoes']

In [ ]:
school.insert(2,"shoes")
school

['Book', 'laptop', 'shoes', 9, 'coffee', 'shoes']

In [ ]:
#adding lists
school+monthly_expenses

['Book',
 'laptop',
 'shoes',
 9,
 'coffee',
 'shoes',
 'housing',
 'groceries',
 'restaurants',
 'coffee']

In [ ]:
"coffee" in school

True

In [ ]:
len(school)

6

**Conditions**

Write a program that asks user to input a number. Then, if the number is above 100, the program tells if the number is odd or even.

In [ ]:
num = input ("Give me a number: ")

Give me a number: 78

In [ ]:
num = int(num)
if num>100:
  print("Your number is above 100.")
  if num%2==0:
    print("Your number is even.")
  else:
    print("Your number is odd.")
else:
  print("Your number is below 100. Try again...")
  num = input ("Give me a number: ")
  num = int(num)
  if num%2!=0 or num<100:
    print("Program failed.")
  else:
    print("Success!")

Your number is below 100. Try again...
Give me a number: 106
Success!

In [ ]:
#Exercise 1: Check if a number is positive, negative, or zero.

#Exercise 2: Determine if a year is a leap year or not.

#Exercise 3: Check if a number is even or odd.

#Exercise 4: Determine the grade based on a student's score.

#Exercise 5: Check if a given string is a palindrome.

In [ ]:
#Exercise 1
num = float(input("Enter a number: "))
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Enter a number: 11
Positive

In [ ]:
#Exercise 2
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
    print(year, "is a leap year")
else:
    print(year, "is not a leap year")

In [ ]:
#Exercise 3
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

In [ ]:
#Exercise 4
score = int(input("Enter the student's score: "))
if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
elif score >= 60:
    print("Grade: D")
else:
    print("Grade: F")

In [ ]:
#Exercise 5
string = input("Enter a string: ")
if string == string[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

**Iterations**

In [ ]:
#Practice
#print 40 to 50

for i in range(40,51):
  print(i)

40
41
42
43
44
45
46
47
48
49
50

In [ ]:
#Manual operation
numbers = [1500, 25, 86, 3314]
total = numbers[0] + numbers[1] + numbers[2] +numbers[3]
total

4925

In [ ]:
#Automatic operation
total = 0
for num in numbers:
  total += num

total

4925

In [ ]:
#Exercise 1:
#In the toal number example, print the index of each number and then print the annual total
total = 0
for i in range(len(numbers)):
  print("Index: ",i+1,"Number: ", numbers[i])
  total = total+numbers[i]

print("Total is: ", total)

Index:  1 Number:  1500
Index:  2 Number:  25
Index:  3 Number:  86
Index:  4 Number:  3314
Total is:  4925

In [ ]:
fruits = ["apples", "oranges", 'strawberries', 3]
drinks = ["tea", "coffee", 2, 'water']

shopping = [fruits, drinks]

for  i in range(len(shopping)):
    print(i, shopping[i])

0 ['apples', 'oranges', 'strawberries', 3]
1 ['tea', 'coffee', 2, 'water']

In [ ]:
#stop the for loop when the wanted item is found using "break"
main_room = "classroom"
all_rooms = ["offices", "hallways", "staircases", "classroom", "library"]
for room in all_rooms:
  if room == main_room:
    print ("I found the main room: ",room)
    break
  else:
    print("The main room is not ", room)

The main room is not  offices
The main room is not  hallways
The main room is not  staircases
I found the main room:  classroom

In [ ]:
#skip a step in the loop using "continue"
#print square of numbers between 1 to 5 EXCEPT even numbers

for i in range(1,6):
  if i%2 == 0:
    continue
  else:
    print(i*i)

1
9
25

In [ ]:
#Exercise 2: Print even numbers from 1 to 20 using a while loop.
num = 1
while num <= 20:
    if num % 2 == 0:
        print(num)
    num += 1

2
4
6
8
10
12
14
16
18
20

In [ ]:
#Exercise 3: Print a multiplication table for a given number using a for loop.
num = int(input("Enter a number:"))
for i in range (1,11):
  print(num,"x",i, "=",num*i)

Enter a number:4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [ ]:
#Exercise 4: Reverse a given string using a while loop.
string = (input("Enter a word:"))
reversed_string = ""
index = len(string)-1

while index>=0:
  reversed_string += string[index]
  index -= 1
print(reversed_string)

Enter a word:word
drow

In [ ]:
#Exercise 5: Print the Fibonacci series up to a given number using a while loop.
limit = int(input("Enter a number: "))
a, b = 0,1
c=a
while b < limit:
  c=a
  a=b
  b=a+c

  print(a)

Enter a number: 15
1
1
2
3
5
8
13

In [ ]:
#print without a newline
limit = int(input("Enter a number: "))
a, b = 0, 1
print("Fibonacci series:")
while a <= limit:
    print(a, end=" ")
    a, b = b, a + b

Enter a number: 15
Fibonacci series:
0 1 1 2 3 5 8 13

# Part Three

**Class 3**

**Collections**

Dictionaries

In [ ]:
#Dictionaries
# Exampe 1: Create a dictionary of person details
person = {
    'name': 'Alice',
    'age': 25,
    'city': 'New York'
}

In this example, we have created a dictionary called person. It contains three key-value pairs:

The key 'name' has the value 'Alice'.
The key 'age' has the value 25.
The key 'city' has the value 'New York'.

In [ ]:
# Exampe 2: Accessing Dictionary Values
# Access values by key
print(person['name'])  # Output: Alice
print(person['age'])   # Output: 25
print(person['city'])  # Output: New York

You can access dictionary values by providing the corresponding key in square brackets. For example, person['name'] returns the value 'Alice'.

In [ ]:
# Exampe 3: Modifying Dictionary Values

# Update the age
person['age'] = 26

# Add a new key-value pair
person['occupation'] = 'Engineer'

# Print the modified dictionary
print(person)

{'name': 'Alice', 'age': 26, 'city': 'New York', 'occupation': 'Engineer'}

In this example, we have modified the value associated with the key 'age' by assigning it a new value 26. We have also added a new key-value pair 'occupation': 'Engineer' to the dictionary. The resulting dictionary will now include these changes.

In [ ]:
#Example 4: Iterating Over a Dictionary
# Iterate over keys
for key in person:
    print("key: ", key, ", value: ", person[key])

for k,v in person.items():
  print("key: ", k, "value: ", v)
# Iterate over values
for value in person.values():
    print(value)

# Iterate over key-value pairs
for key, value in person.items():
    print(key, '=', value)

key:  name , value:  Alice
key:  age , value:  26
key:  city , value:  New York
key:  occupation , value:  Engineer
key:  name value:  Alice
key:  age value:  26
key:  city value:  New York
key:  occupation value:  Engineer
Alice
26
New York
Engineer
name = Alice
age = 26
city = New York
occupation = Engineer

In [ ]:
"height" in person

False

In [ ]:
"age" in person

True

You can iterate over a dictionary using a for loop. By default, iterating over a dictionary will give you the keys. To iterate over the values, you can use the values() method. If you want to access both the keys and values together, you can use the items() method, which returns key-value pairs.

Dictionaries are versatile and widely used in Python for various purposes. They allow you to store and retrieve data efficiently based on meaningful keys, making them a powerful tool for managing collections of related information.

Tuples

In [ ]:
# Create a tuple of fruits
fruits = ("apple", "banana", "orange")

In [ ]:
# Access the first element
print(fruits[0])  # Output: apple

# Access the last element
print(fruits[-1])  # Output: orange

apple
orange

In [ ]:
# Concatenate two tuples
numbers = (1, 2, 3)
combined = fruits + numbers
print(combined)  # Output: ("apple", "banana", "orange", 1, 2, 3)

('apple', 'banana', 'orange', 1, 2, 3)

In [ ]:
# Get the length of a tuple
print(len(fruits))  # Output: 3

3

In [ ]:
# Slice a tuple to get a subset of elements
subset = fruits[1:3]
print(subset)  # Output: ("banana", "orange")

('banana', 'orange')

In [ ]:
# Count the number of occurrences of an element in a tuple
count = fruits.count("banana")
print(count)  # Output: 1

1

In [ ]:
# Find the index of the first occurrence of an element in a tuple
index = fruits.index("orange")
print(index)  # Output: 2

2

In [ ]:
# Unpack a tuple into separate variables
name, age, city = ("Alice", 25, "New York")
print(name, age, city)  # Output: Alice 25 New York

Alice 25 New York

In [ ]:
# Iterate over a tuple
for fruit in fruits:
    print(fruit)

apple
banana
orange

In [ ]:
# Attempt to modify a tuple (will result in an error)
fruits[0] = "pear"

TypeError: ignored

**Functions**

In [ ]:
#Exercise 1: Calculate the sum of two numbers
def calculate_sum(a,b):
  return a+b

calculate_sum(3,8)

11

In [ ]:
#Exercise 2: Find the maximum of three numbers
def max_finder (a,b,c):
  return max(a,b,c)

max_finder(3,4,8)

8

In [ ]:
#Exercise 3: Count the number of uppercase letters in a string
def upper_letters (word):
  counter=0
  for char in word:
    if char.isupper():
      counter+=1
  return counter

upper_letters ("GoodBye!")

2

In [ ]:
#Exercise 4: Check if a number is prime
def is_prime(num):
  if num<2:
    return False
  for i in range(2,num):
    if num%i==0:
      return False
      break
    else:
      return True
      break

is_prime(12)

False

In [ ]:
#Exercise 5: write a function to calculate total expenses for multiple poeple
def total_num(lists):
  total = 0
  for item in lists:
    total +=item
  return total

Jims_expenses = [2000,3500,6800]
Jacks_expenses = [1200,652,394]
Jims_total = total_num(Jims_expenses)
Jacks_total = total_num(Jacks_expenses)

print("Jim's total expenses: ", Jims_total)
print("Jack's total expenses: ", Jacks_total)

Jim's total expenses:  12300
Jack's total expenses:  2246

In [ ]:
y = 20  # Global variable

def my_function():
    global y
    print(y)
    y = 30

my_function()  # Output: 20
print(y)  # Output: 30

20
30
30

# Part Four

**Class 4**

**Object Oriented Programming**

**Classes**

In [ ]:
#class

# Define a class representing a Car
class Car:

#properties
  def __init__(self, color, brand):
    self.color = color
    self.brand = brand

#methods
  def accelerate(self):
    print(f"{self.color} {self.brand} is accelerating")

  def drives(self):
    if self.brand == "Ferrari":
      print (self.name, "drives fast")
    elif self.brand == "BMW":
      print (self.brand, "drives faster")

# Create objects of the Car class
car1 = Car("red", "Ferrari")
car2 = Car("blue", "BMW")

# Accessing object attributes and methods
print(car1.color)         # Output: red
print(car2.brand)         # Output: BMW
car1.accelerate()         # Output: The red Ferrari is accelerating.
car2.drives()

red
BMW
red Ferrari is accelerating
BMW drives faster

In [ ]:
# Define a class representing a BankAccount
class BankAccount:
    def __init__(self, account_number):
        self.__account_number = account_number  # Encapsulated private attribute

    def deposit(self, amount):
        # Perform necessary operations for depositing
        print(f"Depositing ${amount} to Account Number: {self.__account_number}")

    def withdraw(self, amount):
        # Perform necessary operations for withdrawal
        print(f"Withdrawing ${amount} from Account Number: {self.__account_number}")

# Create an object of the BankAccount class
account = BankAccount("1234567890")

# Accessing private attribute (not recommended)
print(account._BankAccount__account_number)  # Output: 1234567890

# Using public methods to interact with the object
account.deposit(1000)           # Output: Depositing $1000 to Account Number: 1234567890
account.withdraw(500)           # Output: Withdrawing $500 from Account Number: 1234567890

**File I/O**

In [ ]:
# Opening a file in read mode
file = open("sample.txt", "r")
data = file.read()  # Reading the entire file content
print(data)
file.close()  # Closing the file

# Opening a file in write mode and writing data to it
file = open("output.txt", "w")
file.write("Hello, world!\n")
file.write("This is a test file.\n")
file.close()  # Closing the file