<a href="https://colab.research.google.com/github/Aban6/MIS515Class/blob/main/Class_3_4_Functions%26OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part Three

**Class 3**

**Functions**

Exercise 1: Calculate the sum of two numbers

Exercise 2: Find the maximum of three numbers

Exercise 3: Count the number of uppercase letters in a string

Exercise 4: Check if a number is prime

Exercise 5: write a function to calculate total expenses for multiple poeple

In [ ]:
#Exercise 1: Calculate the sum of two numbers
def calculate_sum(a,b):
  return a+b

calculate_sum(3,8)

11

In [ ]:
#Exercise 2: Find the maximum of three numbers
def max_finder (a,b,c):
  return max(a,b,c)

max_finder(3,4,8)

8

In [ ]:
#Exercise 3: Count the number of uppercase letters in a string
def upper_letters (word):
  counter=0
  for char in word:
    if char.isupper():
      counter+=1
  return counter

upper_letters ("GoodBye!")

2

In [ ]:
#Exercise 4: Check if a number is prime
def is_prime(num):
  if num<2:
    return False
  for i in range(2,num):
    if num%i==0:
      return False
      break
    else:
      return True
      break

is_prime(12)

False

In [ ]:
#Exercise 5: write a function to calculate total expenses for multiple poeple
def total_num(lists):
  total = 0
  for item in lists:
    total +=item
  return total

Jims_expenses = [2000,3500,6800]
Jacks_expenses = [1200,652,394]
Jims_total = total_num(Jims_expenses)
Jacks_total = total_num(Jacks_expenses)

print("Jim's total expenses: ", Jims_total)
print("Jack's total expenses: ", Jacks_total)

Jim's total expenses:  12300
Jack's total expenses:  2246

In [ ]:
y = 20  # Global variable

def my_function():
    global y
    print(y)
    y = 30

my_function()  # Output: 20
print(y)  # Output: 30

20
30
30

# Part Four

**Class 4**

**Object Oriented Programming**

**Classes**

In [ ]:
#Example1

# Define a class representing a Car
class Car:

#properties
  def __init__(self, color, brand):
    self.color = color
    self.brand = brand

#methods

  def drives(self):
    if self.brand == "Ferrari":
      print (self.brand, "drives fast")
    else:

      print (self.brand, "drives slower")

# Create objects of the Car class
car1 = Car("red", "Ferrari")
car2 = Car("blue", "Not Ferrari")

# Accessing object attributes and methods
print(car1.color)         # Output: red
print(car2.brand)         # Output: Not Ferrari
car1.drives()

red
Not Ferrari
Ferrari drives fast

In [ ]:
#Example2

# Define a class representing a BankAccount
class BankAccount:

 #properties
    def __init__(self, account_number):
        self.account_number = account_number
 #methods
    def deposit(self, amount):
        # Perform necessary operations for depositing
        print(f"Depositing ${amount} to Account Number: {self.account_number}")

    def withdraw(self, amount):
        # Perform necessary operations for withdrawal
        print(f"Withdrawing ${amount} from Account Number: {self.account_number}")

# Create an object of the BankAccount class
account = BankAccount("1234567890")

# Accessing object attributes and methods
print(account.account_number)  # Output: 1234567890

account.deposit(1000)           # Output: Depositing $1000 to Account Number: 1234567890
account.withdraw(500)           # Output: Withdrawing $500 from Account Number: 1234567890

1234567890
Depositing $1000 to Account Number: 1234567890
Withdrawing $500 from Account Number: 1234567890

Practice 1: In an Employee Management System, you can create a class representing Employees, and calculate their bonus (which is assumed to be 10% of their salary). The properties are emp_id, name, salary. Create a method under this class to calculate employees' bonus.

In [ ]:
#Practice 1
class Employee:
    def __init__(self, emp_id, name, salary):
        self.emp_id = emp_id
        self.name = name
        self.salary = salary

    def calculate_bonus(self):
        return self.salary * 0.1  # Example bonus calculation



# Create employee and manager objects
employee1 = Employee(1, "John", 50000)


print (employee1.name)
employee1.calculate_bonus()

John

5000.0